@import "~bootstrap";

@import "./hwt.scss";

body {
  min-height: 100vh;
}

.github-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../img/GitHub-Mark-64px.png");
  background-size: cover;
}